
<div class="play-area">
 	
	<card *ngIf="m.card>-1" 
		[cardNo]="m.card" 
		class="animation" 
		[@animateCard]="{value:animTrigger,
						 params:{fTop:fromRect.top,fLeft:fromRect.left,
								 tTop:toRect.top,tLeft:toRect.left,
								 duration:animationDuration(m)}}"
		(@animateCard.done)="animDone($event)">
	</card>	
 	
	<div *ngIf="players$ | async as players else loading">
		<table *ngIf="profile.showStatistics && players.length>0">
			<tr><th colspan=2>{{players[0].name}}</th><th colspan=2>{{players[1].name}}</th></tr>
			<tr><th>Turns</th><th>Moves</th><th>Turns</th><th>Moves</th></tr>
			<tr><td>0</td><td>0</td><td>0</td><td>0</td></tr>
		</table>
	  	<ng-template #loading>Loading statistics</ng-template>
	</div>
	<div *ngIf="players$ | async as players else loading">
		<div class="player" *ngFor="let player of players; let pIdx=index">		
			<div class="container">
				<div class="heading">Name</div>
				<div>{{player.name}}</div>
			</div>
			<div class="container">
				<div class="heading">Pile</div>
				<div class="player-pile tooltip" >
				    <span class="tooltiptext">{{game.getCardPositions()[pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx)].length}}</span>
					<app-pile 
						id="pos{{pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx)}}"
						[pos]="pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx)"
						[cards]="game.getCardPositions()[pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx)]"
						[options]="getOptions(pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx))"
						(onSelect)="select($event)">
					</app-pile>
				</div>
			</div>
			<div class="container">
				<div class="heading">Hand</div>
				<div class="player-hand">
					<ng-container *ngIf="pIdx==game.activePlayer">
						<app-pile *ngFor="let i of [0,1,2,3,4]"	
							id="pos{{pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)}}"
							[pos]="pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)"
							[cards]="game.getCardPositions()[pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)]"
							[options]="getOptions(pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx))"
							(onSelect)="select($event)">
						</app-pile>
					</ng-container>
					<ng-container *ngIf="pIdx!==game.activePlayer">
						<app-pile *ngFor="let i of [0,1,2,3,4]"	
							id="pos{{pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)}}"
							[pos]="pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)"			
							[cards]="[{cardNo:(game.getCardPositions()[pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)].length>0?cE.BACK:0),
									   position:i+30}]"
							[options]="getOptions(pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx))"
							(onSelect)="select($event)">
						</app-pile>
					</ng-container>
				</div>
			</div>			
			<div class="container">
				<div class="heading">Stacks</div>	
				<div class="player-stacks">
					<app-player-stack *ngFor="let i of [0,1,2,3]"
						[pos]="pE.PLAYER_STACK_1+i+(pPE.PLAYER_2*pIdx)" 
						[cards]="game.getCardPositions()[pE.PLAYER_STACK_1+i+(pPE.PLAYER_2*pIdx)]" 
						[options]="getOptions(pE.PLAYER_STACK_1+i+(pPE.PLAYER_2*pIdx))"
						(onSelect)="select($event)">
					</app-player-stack>
				</div>
			</div>
		</div>
		<div class="game-row">
			<div class="game-deck tooltip" >
				<span class="tooltiptext">{{game.getCardPositions()[pE.DECK].length}}</span>
				<app-pile 			
					id="pos{{pE.DECK}}"	
					[pos]="pE.DECK"
					[cards]="game.getCardPositions()[pE.DECK]"
					[options]="getOptions(pE.DECK)">
				</app-pile>
			</div>		
			<div class="game-recycle tooltip" >
				<span *ngIf="game.getCardPositions()[pE.RECYCLE].length>0" class="tooltiptext">{{game.getCardPositions()[pE.RECYCLE].length}}</span>
				<app-pile 				
					id="pos{{pE.RECYCLE}}"			
					[pos]="pE.RECYCLE"
					[cards]="game.getCardPositions()[pE.RECYCLE]"
					[options]="getOptions(pE.RECYCLE)">
				</app-pile>			 
			</div>
			<div class="game-stacks">
				<app-game-pile *ngFor="let i of [0,1,2,3]"
					id="pos{{pE.STACK_1+i}}"			
					[pos]="pE.STACK_1+i"
					[cards]="game.getCardPositions()[pE.STACK_1+i]"
					[options]="getOptions(pE.STACK_1+i)"
					(onSelect)="select($event)">
				</app-game-pile>
			</div>		
		</div>
	  	<ng-template #loading>Loading players hands...</ng-template>
	</div>
</div>