
<h1>Welcome {{player.name}}</h1>

<div class="link" (click)="newGame()">New Game</div> 
<!-- <a  routerLink="/play-area/{{game.uuid}}">Go to game</a> -->
<p>
<app-gauge [a]="{text:'Player 1',value:22}" [b]="{text:'Player 2',value:13}"></app-gauge>
<p>
<!-- <app-timezone-test></app-timezone-test>-->
<!-- 
Game History:
<ul *ngIf="games$ | async as games; else loading">
	<li *ngFor="let game of games">
	<app-game-item [game]="game" ></app-game-item>
	</li>
</ul>
 -->
  
Opponents:
<ul *ngIf="opponents$ | async as opponents; else loading">
	<li *ngFor="let opponent of opponents">
		{{opponent.name}}{{opponent.online?"*":""}}
	</li>
</ul>
<ng-template #loading>Loading ...</ng-template>